In [1]:
a = ["bannana", "apple", "microsoft"]

In [2]:
print(a[0])
print(a[1])
print(a[2])

bannana
apple
microsoft

In [4]:
for element in a:
    print(element)
    print(element)

bannana
bannana
apple
apple
microsoft
microsoft

In [6]:
b = [20, 10, 5]
total = 0
for element in b:
    total = total + element

In [7]:
print(total)

35

In [8]:
c = list(range(1, 5))
print(c)

[1, 2, 3, 4]

In [11]:
total2 = 0
for i in range(1,5):
    total2 += i
print(total2)

10

In [12]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [14]:
total3 = 0
for i in range(1, 8):
    if i%3 == 0:
        total3 += i
print(total3)

9

In [20]:
total4 = 0
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        total4 += i
        
print(total4)

2318